
<div class="counts">
    <div>Grand Total: <span>{{satellites.length}}</span></div>
   <div>Total Space Debris: <span>{{getTotal('Space Debris')}}</span></div>
   <div>Total Communications: <span>{{getTotal("Communication")}}</span></div>
   <div>Total Probe: <span>{{getTotal("Probe")}}</span></div>
   <div>Total Positioning: <span>{{getTotal("Positioning")}}</span></div>
   <div>Total Space Station: <span>{{getTotal("Space Station")}}</span></div>
   <div>Total Telescope: <span>{{getTotal("Telescope")}}</span></div>
 </div>
