.search-form {
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}


h3 {
  text-align: center;
  font-size: 40px;
  color: #302B66;
  font-family: 'Orbitron', sans-serif;
}

button {
    margin-left: 10px;
    color: #fff;
    background-color: #26CB76;
    border-radius: 7px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
